apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mautic-unsubscribe-data
  namespace: simplify-web
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 256Mi
