apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mautic-unsubscribe-data
  namespace: ${DEPLOY_NAMESPACE}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 256Mi
