apiVersion: v1
kind: Service
metadata:
  name: mauxy
  namespace: ${DEPLOY_NAMESPACE}
  labels:
    app.kubernetes.io/name: mauxy
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: mauxy
